

/* =================HEADER ===================== */
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: #3D405B;
}

/* ================= HAMBURGER ================= */
.hamburger {
    background: none;
    border: none;
    color: #3D405B;
    cursor: pointer;
}
.hamburger::after {
    content:  "\2630";
    font-size: 1.5rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 1.5rem;
}

/* ============NAVIGATION============ */

.navigation {
    display: none;
    background-color: #e07a5f;;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: black;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #eee;
}

/* ============SITE WEB============ */
* {
    font-family: Roboto, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h1 {
    margin-left: 10px;
    color: #3D405B;
}

section {
    background-color: #eee;
}

.courses {
    background-color: transparent;
}

section p {
    padding: 0 10px;
}

section h2 {
    margin-top: 0;
    background-color: #e07a5f;
    font-size: medium;
    text-align: center;
    padding: 10px;
}

section img {
    display: block;
    margin: 0 auto;
}

.credits {
    text-align: center;
}

/* SECION 3 */

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1 rem 0;
}

button {
    background-color: #d77a52;
    border: 0;
    font-size: 1.2rem;
    border-radius: 5px;
    padding: 15px;
}

#course-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
}

#course-container div {
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
    background: #d77a52;
    font-weight: bold;
}

.completed {
    background: #efe8c6 !important;
    color: black !important;
}

/* ============FOOTER============ */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
        width: 22px;
        height: 22px;
}

.social a:hover {
    background-color: #ddd;
}